
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #d38003;
            color: #050505;
            text-align: center;
            padding: 1rem;
        }
        nav {
            background-color: #552b04;
            text-align: center;
            padding: 0.5rem;
        }
        nav a {
            color: #ffffff;
            text-decoration: none;
           
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            padding: 2rem;
            margin: 2rem;
            border: 1px solid #664303;
            background-color: #e0b986;
        }
        
        .align-right {
            float: left; /* Utiliza float para alinhar à esquerda */
            margin-left: 10px; 
        }
    